# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
env/
venv/

# Env/config secrets
.env
*.env

# Django stuff
db.sqlite3
media/
staticfiles/
local_settings.py

# Logs
*.log
logs/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# IDE/Editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
